body {
    background-color: #F7F8F1;
}

h1 {
  color: black;
  font-family: "Bitter", serif;
  font-size: 200%;
  padding-left: 20px;
  padding-bottom: 0px;
  text-align: left;
}

h2 {
    color: #6E8B4C;
    font-family: "Open Sans", sans-serif;
    font-size: 100%;
    padding-left: 20px;
    text-align: left;
}

h3 {
    color: #6E8B4C;
    font-family: "Bitter", serif;
    font-size: 28px;
    padding-left: 20px;
    text-align: center;
}

h4 {
    color: black;
    font-family: "Bitter", serif;
    font-size: 20px;
    text-align: left;
}

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: purple;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: none;
}

li {
    color: black;
    font-family: "Open Sans", sans-serif;
}

.menu a:link {
    color: #967D4A;
    margin-top: 10px;
    margin-bottom: 5px;
    text-decoration: underline;
}

.menu a:visited {
    color: black;
}

.menu a:visited, .menu a:hover {
    text-decoration: underline;
}

p {
    font-family: "Open Sans", sans-serif;
    padding-left: 20px;
}

.heading-container {
    padding-top: 15px;
}
.menu {
  background-color: #EAECDA;
  display: flex;
  font-family: "Bitter", serif;
  font-size: 130%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px 10px 20px;
  width: 90%;
}

#main-header-1 {
  color: black;
  font-family: "Bitter", serif;
  font-size: 200%;
  margin-top: 0.25%;
  margin-bottom: 0.25%;
  text-align: left; 
}


#main-header-2 {
    color: #6E8B4C;
    font-family: "Open Sans", sans-serif;
    font-size: 130%;
    padding-left: 40px;
    text-align: left;
}

#cc-license {
    margin-bottom: 1%;
    margin-left: 2%;
}

#portrait {
    float: right;
    margin-bottom: 1%;
    margin-right: 3%;
    height: 10%;
    width: 10%;
}

.text-box {
    border: 1px solid black;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    width: 80%;
}

.text-content {
    margin: 50px 150px 50px 150px;
}

/*                  STYLING FOR ANALYSIS PAGE BELOW       */

/* Functionality for hiding methods textbox 
 * 
 * 
 * */

button {
    background-color: #F7F8F1;
    border: none;
    color: #967D4A;
    font-family: "Open Sans", sans-serif;
    font-size: 130%;
    font-weight: bold;
    margin-bottom: 3%;
    text-align: center;
}

.dropdownButton {
    text-align: center;
}

.hide {
    display: none; /* show it when clicked */
}

.show {
    display: block;
}

/* Formatting for tables (mostly the analysis tables)
 * 
 * 
 * 
 */
 
table {
    /* Stabilize table width, so that it doesn't jump
    * when the content width changes 
    * */
    width: calc(100% - 6em);
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 50px;
    border-collapse: collapse;
}

tr,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: "Open Sans", sans-serif;
    text-align: right;
}

td,
th {
    padding: 10px;
    vertical-align: middle;
}

#themes-table {
    margin-left: auto;
    margin-right: auto;
    max-width: 20%;
}

#themes-table-box {
    min-width: 100%;
}

/* Formatting for ellipsis graphs
 * 
 *  */
 .ellipsis-graph {
     margin-top: 1%;
     margin-bottom: 1%;
 }