body {
    background-color: #F7F8F1;
}

h1 {
  color: black;
  font-family: "Bitter", serif;
  font-size: 300%;
  padding-left: 20px;
  padding-bottom: 0px;
  text-align: left;
}

h2 {
    color: #1915E3;
    font-family: "Open Sans", sans-serif;
    font-size: 150%;
    padding-left: 20px;
    text-align: left;
}

h3 {
    color: #1915E3;
    font-family: "Bitter", serif;
    font-size: 28px;
    padding-left: 20px;
    text-align: center;
}

h4 {
    color: black;
    font-family: "Bitter", serif;
    font-size: 20px;
    text-align: left;
}

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: purple;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: none;
}

li {
    color: black;
    font-family: "Open Sans", sans-serif;
}

.menu a:link {
    color: black;
    text-decoration: underline;
}

.menu a:visited, .menu a:hover {
    text-decoration: underline;
}

p {
    font-family: "Open Sans", sans-serif;
    padding-left: 20px;
}

.heading-container {
    padding-top: 15px;
}
.menu {
  display: flex;
  font-family: "Bitter", serif;
  font-size: 25px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 20px 10px 20px;
  width: 90%;
}

#portrait {
    float: right;
    margin-right: 20px;
    height: 15%;
    width: 15%;
}

.text-box {
    border: 1px solid black;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    width: 80%;
}

.text-content {
    margin: 50px 150px 50px 150px;
}