/* General styling */

body {
    background-color: #F7F8F1;
}

h1 {
  color: black;
  font-family: "Bitter", serif;
  font-size: 300%;
  padding-left: 20px;
  padding-bottom: 0px;
  text-align: left; 
}

h2 {
    color: #6E8B4C;
    font-family: "Open Sans", sans-serif;
    font-size: 150%;
    padding-left: 40px;
    text-align: left;
}

h3 {
    color: #568f56;
    font-family: "Bitter", serif;
    font-size: 110%;
    padding-left: 40px
}

li {
    color: black;
    font-family: "Open Sans", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
    padding-left: 60px;
}

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: purple;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: none;
}

#portrait {
    float: right;
    margin-bottom: 20px;
    margin-right: 20px;
    height: 15%;
    width: 15%;
}

.text-box {
    border: 1px solid black;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    width: 65%;
}

/*  Navigational menu */
.menu a:link {
    color: #967D4A;
    margin-top: 10px;
    margin-bottom: 5px;
    text-decoration: underline;
}

.menu a:visited {
    color: black;
}

.menu a:visited, .menu a:hover {
    text-decoration: underline;
}

.heading-container {
    padding-top: 15px;
}
.menu {
  background-color: #EAECDA;
  display: flex;
  font-family: "Bitter", serif;
  font-size: 25px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px 10px 20px;
  width: 90%;
}

/*  Filtering panel at the top with checkboxes */
input[type="checkbox"] {
    margin-left: 10%;
}

label {
    font-size: 90%;
    font-family: "Open Sans", sans-serif;
}

.sidebar-header {
    text-align: left;
}

.poems-filtering-box {
    background-color: #EAECDA;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-right: 5%;
    padding-bottom: 1%;
    width: 90%;
}

.poems-filtering-container {
    padding: 10px;
}

/*  Sidebar with checkboxes */
input[type="checkbox"] {
    margin-left: 10%;
}

label {
    font-size: 90%;
    font-family: "Open Sans", sans-serif;
    padding-bottom: 5%;
    text-align: center;
}

.sidebar-header {
    text-align: left;
}

.sidebar-box {
    background-color: #EAECDA;
    border: 1px solid black;
    float: left;
    padding-right: 5%;
    padding-bottom: 1%;
    width: 20%;
}

.sidebar-selecting-container {
    padding: 10px;
}

/* Table of contents */
table {
    margin-bottom: 50px;
}

table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: "Open Sans", sans-serif;
    margin-left: auto;
    margin-right: auto;
}

td, th {
  padding: 10px;
  vertical-align: middle;
}

/* Tooltip styling */

.tooltip {
  border-bottom: 1px dotted black; 
  position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
  background-color: #EAECDA;
  border-radius: 6px;
  color: black;
  margin-left: -60px;
  padding: 5px 0;
  position: absolute;
  text-align: center;
  top: 100%;
  left: 50%;
  visibility: hidden;
  width: 120px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Styling for elements in the poems */

span.body, span.eating, span.violence {
    color: red;
}

span.character {
    color: #d56cd9; /* pinkish */
}

span.emotion, span.love, span.loss, span.mind, span.solitude, span.uncertainty {
    color: purple;
}

span.law, span.music, span.science, span.writing {
    color: #856a6c; /* reddish-mauve color */
}

span.nature, span.animal {
    color: green;
}

span.religion, span.supernatural {  
    color: #2a5fa3;  /*  muted blue */
}

span.social_norms, span.social_class, span.war, span.wealth, span.labor {
    color: #b09012; /* ochre */
}

span.childhood, span.memory, span.time {
    color: #9b93bd; /*  periwinkle */
}

span.life, span.death, span.light, span.darkness {
    color: #88cf9f; /* minty  */
}